<h2 class="title text-center">Detalles del Superheroe</h2>
<div class="card mx-auto mt-5" style="width: 24rem;">
    <img class="card-img-top img-fluid" [src]="imagen" alt="Imagen de superheroes">
    <div class="card-body">
        <h5 class="card-title">First Appearance: {{firstAppearance}}</h5>
        <p class="card-text">Publisher: {{fullname}}</p>
        <p class="card-text">Fullname: {{publisher}}</p>
        <p class="card-text">Occupation: {{ocupattion}}</p>
        <p class="card-text">Group Affiliation: {{groupAffiliation}}</p>
        <button class="btn boton btn-info btn-lg" routerLink="superheroe">Volver</button>
    </div>
</div>

